body{
    background-image:url('../Images/11.jpg');
    background-repeat: no-repeat;
    background-position:center center;
    background-attachment:fixed;
    background-size:cover;
    /* background: #89f7fe ;  /* fallback for old browsers 
    background: -webkit-linear-gradient(to right, #66a6ff,#89f7fe );  /* Chrome 10-25, Safari 5.1-6
    background: linear-gradient(to right, #66a6ff, #89f7fe ); */

}
h1{
    color: white;
}