#profile-card{
    height: 527px;
    background-color: #e0f7fa;
}
#profile-card .card-image {
    height: 150px;
  }
  
  #profile-card .card-profile-image {
    width: 70px;
    position: absolute;
    top: 110px;
    z-index: 1;
    cursor: pointer;
  }
  
  #profile-card .btn-move-up {
    position: relative;
    top: -40px;
    right: -18px;
    margin-right: 10px !important;
  }
  
  #profile-card .card-content p {
    font-size: 1.2rem;
    margin: 10px 0 12px;
  }
  .sidea{
      background-color: #e1f5fe;
  }
  .kanan{
      height: 550px;
      background-color: #b3e5fc;
  }