body{
  /* background-image:url('./Images/webbg1.jpf'); */
  background-color: #c6c4c4;
  background-repeat: no-repeat;
  background-position:center center;
  background-attachment:fixed;
  background-size:cover;
  -o-animation: colorcycle 20s infinite;
  -moz-animation: colorcycle 20s infinite;
  -webkit-animation: colorcycle 20s infinite;
  animation: colorcycle 20s infinite; 
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 1;
  /* background: #89f7fe ;  /* fallback for old browsers 
  background: -webkit-linear-gradient(to right, #66a6ff,#89f7fe );  /* Chrome 10-25, Safari 5.1-6
  background: linear-gradient(to right, #66a6ff, #89f7fe ); */

}
h2,h1{
  color:#212121;
  font-family: 'Playfair Display', serif; 
}
.welcome{
  padding:100px;
  height: 550px;
  background: linear-gradient(90deg, #eceff1 50%, #cfd8dc 50%);
  position: relative;
}
.subWell{
  position: absolute;
  bottom: 2%;
  right: 1%;
}
.more1{
  color: #eceff1;
}
.more2{
  bottom:0;
  right: 0%;
  background-color: black;
}
.more2 li{
  margin:0;
  padding:0;
}
.mantap{
  height: 800px;
  background: linear-gradient(90deg, #fdcd3b 50%, #ffed4b 50%);
}
.line1{
  height: 550px;
}
.line2{
  height: 550px;
}

#profile-card{
  height: 527px;
  background-color: #e0f7fa;
}
#profile-card .card-image {
  height: 150px;
}

#profile-card .card-profile-image {
  width: 70px;
  position: absolute;
  top: 110px;
  z-index: 1;
  cursor: pointer;
}

#profile-card .btn-move-up {
  position: relative;
  top: -40px;
  right: -18px;
  margin-right: 10px !important;
}

#profile-card .card-content p {
  font-size: 1.2rem;
  margin: 10px 0 12px;
}
.sidea{
  background-image: url("./Images/teredit.jpg");
    background-color: #e1f5fe;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 20%;
    height: 540px;
}
.kanan{
    height: 540px;
    /* background-color: #ffff8d; */
    -o-animation: colorcycle 20s infinite;
    -moz-animation: colorcycle20s infinite;
    -webkit-animation: colorcycle 20s infinite;
    animation: colorcycle 20s infinite; 
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 1;
}
.numbs{
  width: 100%;
  bottom:0px;
  position: absolute;
  align-items: center;
  right:0;
}
.pcx{
  margin-top: 5%;
}
.nameu{
  text-align: left;
  font-family:bebas;
  color: #212121;
  font-size: 36px;
  margin-left: 5%;
}
.tabspro ul li a{
  color: white;
}
.txtNav{
  color:#212121;
  font-size: 24px;
}
.App {
  text-align: center;
  width: 100% ;
}

.App:after {
  content: "";
  display: table;
  clear: both;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  /*height: 40vmin;*/
  pointer-events: none;
  text-align: left;
}

.App-header {
  background-color: #dee3da;
  min-height: 100vh;
  /*display: flex;*/
  /*flex-direction: column;*/
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /*color: white;*/
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav.nav-center ul {
  text-align: center;
}
nav.nav-center ul li {
  display: inline;
  float: none;
}
nav.nav-center ul li a {
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.column {
  float: left;
  width: 24%;
  text-align: center;
  border : 1px solid gray;
  margin-right: 5px;
  background-color: #ffffff;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
@font-face{
  font-family:runtothehills;
  src:url("./fonts/runtothehills.ttf");
}
@font-face{
  font-family:bebas;
  src:url("./fonts/BEBAS.ttf");
}
@font-face{
  font-family:concetta;
  src:url("./fonts/Concetta.ttf");
}
@font-face{
  font-family:lemonMilk;
  src:url("./fonts/LemonMilk.otf");
}
@font-face{
  font-family:moonllime;
  src:url("./fonts/Moonllime.ttf");
}
html, body, #hero, #overlay {
  height: 100%;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
}

#hero { background: url(https://s3.amazonaws.com/uploads.hipchat.com/21309/369069/P3rXUVfLuQGvv7N/bw.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    }


#overlay { 
  -o-animation: colorcycle 20s infinite;
  -moz-animation: colorcycle20s infinite;
  -webkit-animation: colorcycle 20s infinite;
  animation: colorcycle 20s infinite; 
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}


@-o-keyframes colorcycle {
  0%   {background: #ffebee;}
  25%  {background: #f3e5f5;}
  50%  {background: #e8eaf6;}
  75%  {background: #e1f5fe;}
  100% {background: #ffebee;}
}

@-moz-keyframes colorcycle {
  0%   {background: #ffebee;}
  25%  {background: #f3e5f5;}
  50%  {background: #e8eaf6;}
  75%  {background: #e1f5fe;}
  100% {background: #ffebee;}
}

@-webkit-keyframes colorcycle {
  0%   {background: #ffebee;}
  25%  {background: #f3e5f5;}
  50%  {background: #e8eaf6;}
  75%  {background: #e1f5fe;}
  100% {background: #ffebee;}
}

@keyframes colorcycle {
  0%   {background: #ffebee;}
  25%  {background: #f3e5f5;}
  50%  {background: #e8eaf6;}
  75%  {background: #e1f5fe;}
  100% {background: #ffebee;}
}